﻿<div style="margin: 30px; padding: 20px; border: 2px solid #000000; border-radius: 15px; height: 600px; width: 400px">
    <div style="width: 100%; height: 200px; text-align: center; background: #cccccc">
        @if (Card.IsWordVisible)
        {
            <h2>@Card.Word</h2>
        }
        else
        {
            <h2>******</h2>
        }
    </div>
    <div style="width: 100%; height: 100px; text-align: center; background: #eeeeee">
        @if (Card.Hints.Count > 0)
        {
            <h5>@Card.Hints.Last()</h5>
        }
    </div>
    <EditForm Model="@Hint" OnValidSubmit="OnHintSubmitClick">
        <div style="width: 100%; height: 150px; text-align: center; background: #eeeeee">
            <InputText id="hint" @bind-Value="Hint" />
        </div>
        <div style="width: 100%; height: 50px; text-align: center;">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </EditForm>
</div>

@code {

    [Parameter]
    public Card Card { get; set; } = new Card();

    public string Hint { get; set; } = string.Empty;

    public void OnHintSubmitClick()
    {
        Card.IsWordVisible = false;
        Card.Hints.Add(Hint);
        Hint = string.Empty;
    }

}
