﻿@page "/game"

@foreach (var card in Cards)
{
    <CardItem Card="card"></CardItem>
}

@code {

    public IList<Player> Players { get; set; } = new List<Player>();

    public IList<Card> Cards { get; set; } = new List<Card>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Cards.Add(new Card
        {
            Word = "Guitare",
            IsWordVisible = true
        });
    }

}
